// Define variables for your color scheme

// For example:
$red: #FD1015;
$blue: #167FFB;
$senape: #FFC65A;
$orange: #E67E22;
$green: #1EDD88;
$gray: #0E0000;
$light-gray: #F4F4F4;

// Our colors:
// $black: #141414;
// $dark-black: #070707;
// $dark-gray: #404040;
//$white:#DBDBDB;
$yellow: #FCBA04;
$light-yellow: #FFFD77;
$dark-yellow: #696d34;
$dark-black: #1d1d1d;
$black: #2e3134;
$dark-gray:#999;
$light-gray:#e5e5e5;


