<h1>Welcome to Popcorn Chill!</h1>

<p>Hello <%= @user.name %>,</p>

<p>
	Thank you for signing up! Watch a movie or show with your friends. Simply create your next event <strong><%= link_to 'here', edit_user_url(@user) %></strong>

</p>

<p>Enjoy!</p>