<h1>Welcome to Popcorn Chill!</h1>

<p>Hello <%= @user.name %>,</p>

<p>Thanks for signing up</p>



<p>Thank you for signing up! You can now organize with your friends to watch a movie or show. Simply create your next event <strong><%= link_to 'here', new_event_url %></strong>!</p>

<p>Enjoy!</p>