h3 {
 padding-bottom: 5px; 
}

#welcome {
  padding-top: 15px;
}

.watchlist {
  padding-top: 15px;
  padding-bottom: 15px;
}

.pick-movie {
  padding-top: 10px;
  padding-bottom: 100px;
}

#done-button {
  position: absolute;
  right: 70px;
}

.wishlist-search {
  border-radius: 20px;
}

#search-field {
	border-radius: 25px;
  background-color: #2E3134;
  border: none;
}

// Magnifying Icon Glyphicon >> delete this line once working 

.inner-addon {
  position: relative;
}

/* style icon */
.inner-addon .magnifier {
  position: absolute;
  padding: 7px 30px;
  pointer-events: none;
}

/* align icon */
// .left-addon .magnifier  { left:  0px;}
.right-addon .magnifier  { right:  0px;}

/* add padding  */
// .left-addon input  { padding-left:  30px; }
.right-addon input  { padding-right:  30px; }

// Magnifying Icon Glyphicon >> delete this line once working 


/* align icon */
// .left-addon .glyphicon  { left:  0px;}
// .right-addon .glyphicon { right: 0px;}

/* add padding  */
// .left-addon input  { padding-left:  30px; }
// .right-addon input { padding-right: 30px; }
