<!-- _footer.html.erb
 -->
<div class="footer">
   <div class="navbar navbar-expand-sm navbar-light navbar-lewagon">
      <%= link_to root_path, class: "navbar-brand" do %>
        <i class="fas fa-home"></i>
      <% end %>

      <%= link_to new_event_path, class: "navbar-brand" do %>
        <i class="far fa-plus-square"></i>
      <% end %>

      <%= link_to wishlists_path, class: "navbar-brand" do %>
        <i class="fas fa-film"></i>
      <% end %>

  </div>
</div>
