<div class="footer">
  <div>
    <div class="item">
      <%= active_link_to events_path, active: :exact do %>
        <i class="fas fa-home"></i>
        <br>
        <label>HOME</label>
      <% end %>
    </div>

    <div class="item">
      <%= active_link_to new_event_path, active: :exact do %>
      <i class="fas fa-plus"></i>
        <br>
        <label>NEW EVENT</label>
      <% end %>
    </div>

    <div class="item">
      <%= active_link_to wishlists_path, active: :exact do %>
        <i class="fas fa-search"></i>
        <br>
        <label>SEARCH</label>
      <% end %>
    </div>

    <div class="item">
      <%= active_link_to watchlist_path, active: :exact do %>
        <i class="fas fa-film"></i>
        <br>
        <label>WATCHLIST</label>
      <% end %>
  </div>
</div>


