<% @results.each_with_index do |movie, index| %>

  <div class="card-event">
    <div class="card-event-info">
      <div class="event-title"><%= movie.trakt_payload['title'] %>
      </div>
      <h1 class="event-address"><%= movie.trakt_payload['year'] %></h1>
      <%= @matches_count[index] %>/<%= @users_count %>
    </div>
  </div>
<% end %>
