<!-- show.html.erb -->

<h1>Movies for <%= @event.name %></h1>

<% @movies.each do |movie| %>
  <% next if current_user.user_events.where(event: params[:id]).take.status == 'admin' %>
  <div>
    <%= link_to 'Nope', {
          controller: 'results',
          action: 'create',
          preference: 'nope',
          movie_id: movie.id,
          user_id: current_user,
          event_id: @event.id
        }, method: :post %>
    <%= movie.trakt_payload['title'] %>
    <%= link_to 'Yep', {
          controller: 'results',
          action: 'create',
          preference: 'yep',
          movie_id: movie.id,
          user_id: current_user,
          event_id: @event.id
        }, method: :post %>
  </div>
<% end %>
