<div class="box-flex">
  <div class="box-20 element-bottom">
    <h2>Popcorn 'n' Chill</h2>
  </div>
  <div class="box-20 element-top text-center">
    <p>
      Find the perfect movie to watch with your friends!
    </p>
  </div>
  <div class="box-20 element-top text-center">
    <button class="home-btn">
      <%= link_to "Let's pop it", events_path %>
    </button>
  </div>
  <div class="box-40 element-center">
    <%= image_tag 'undraw_horror_movie.svg' %>
  </div>
</div>
