.card-event {
  background: $black;
  height: 120px;
  margin-bottom: 1px;
  padding: 5px 10px;
}

.card-event-info {
  display: flex;
  justify-content: space-between;

}

.card-buttons-avatar {
  display: flex;
  justify-content: space-between;
}



.event-title {
font-family: Poppins;
font-style: normal;
font-weight: 500;
font-size: 18px;
line-height: normal;
display:flex;


color: $light-gray;
  }

.event-address {
font-family: Poppins;
font-style: normal;
font-weight: 300;
font-size: 16px;
line-height: normal;
width: 16em; /* the element needs a fixed width (in px, em, %, etc) */
overflow: hidden; /* make sure it hides the content that overflows */
white-space: nowrap; /* don't break the line */
text-overflow: ellipsis; /* give the beautiful '...' effect */

color: $dark-gray;
  }

.event-guests {
  display: flex;
  margin-left: 7px;
  margin-bottom: 5px;
}

.event-date {
  font-size: 16px;
  color: #b3b3b3;
  font-weight: lighter;
  margin-left: 7px;

}

.avatar-circle {
  width: 30px;
  height: 30px;
  background-color: transparent;
  border: 1px solid $light-yellow;
  text-align: center;
  border-radius: 50%;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  margin-right: 5px;

}
.initials {
  position: relative;
  top: 0px; /* 25% of parent */
  font-size: 10px; /* 50% of parent */
  line-height: 30px; /* 50% of parent */
  color: $light-yellow;
  font-weight: lighter;
}

.card-event-infos .card-event-user {
  position: absolute;
  right: 16px;
  top: -20px;
  width: 40px;
}

.card-event .dropdown-menu {
  background: $dark-black;
  width: 100px!important;
  min-width: 0;
}

.card-event .dropdown-menu .dropdown-item {
  color: $light-gray;
  font-family: Poppins;
  font-size: 14px;
  margin: 0;
  width: 100px!important;
}

