.counter-right {
    position: fixed;
    bottom: 70px;
    right: -13px;
    background-color: $light-yellow;
    width: 13vw;
    height: 5vh;
    border-radius: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    color: black;
    border: 4px solid $black;

}

.counter-left {
    position: fixed;
    bottom: 70px;
    left: -13px;
    background-color: $light-yellow;
    width: 13vw;
    height: 5vh;
    border-radius: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    color: black;
    border: 4px solid $black;

}
