.footer {
  background: $dark-black;
  bottom: 0;
  padding: 9px 10vw 0 10vw;

  position: fixed;
  width: 100vw;
  border-top: 1px solid $black;
  box-sizing: border-box;
  height: 64px;

  div {
    display: flex;
    justify-content: space-between;
  }
}

.item {
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
  img {
    width: 24px;
  }
  label {
    margin-bottom: 0;
    line-height: 0;
    color: $dark-gray;
    font-weight: 300;
    font-size: 10.24px;
  }
}


.fas {
font-size: 23px;
color: #999;
}


.active_link_to {
color: #FCBA04;
}
