.navbar-lewagon {
  justify-content: space-between;
  background: transparent;
}

.navbar-lewagon .navbar-collapse {
  flex-grow: 0;
}

.navbar-lewagon .navbar-brand img {
  width: 40px;
}

.avatar img {
border:1px solid #FCBA04;
}

.user {
  padding: 10px;
  border-radius: 50%;
  border: 2px solid #FCBA04;
}

#initial-letter {
  color: #FCBA04;
  font-size: 1em;
}
