.navbar-lewagon {
  background: transparent;
  border-bottom: 1px solid $black;
  box-sizing: border-box;
  // height: 64px;
  justify-content: space-between;
}

.navbar-lewagon .navbar-collapse {
  flex-grow: 0;
}

.navbar-lewagon .navbar-brand img {
  width: 40px;
}

.avatar img {
  border: 1px solid $light-yellow;
}

.user {
  height: 40px;
  width: 40px;
  border-radius: 50%;
  border: 1px solid $light-yellow;
  display: flex;
  align-items: center;
  justify-content: space-around;
}

#initial-letter {
  color: $light-yellow;
  font-size: 1em;
}

.nav-item .nav-link {
  color: $light-yellow !important;
}
