.navbar-lewagon {
  background: transparent;
  border-bottom: 1px solid $black;
  box-sizing: border-box;
  height: 64px;
  justify-content: space-between;
}

.navbar-lewagon .navbar-collapse {
  flex-grow: 0;
}

.navbar-lewagon .navbar-brand img {
  width: 40px;
}

.avatar img {
  border: 1px solid $yellow;
}

.user {
  padding: 10px;
  border-radius: 50%;
  border: 2px solid $yellow;
}

#initial-letter {
  color: $yellow;
  font-size: 1em;
}

.nav-link {
  color: $light-yellow !important;
  font-weight: 500;
  font-size: 25px;
}
